body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background-color: rgb(62, 73, 224);
}

.inputLabel {
  font-size: large;
  font-weight: bold;
}

.timerButton:hover {
  cursor: pointer;
}

.modal {
  display: none;
  /* position: fixed; */
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  padding: 20px;
}

.second-modal {
  display: block;
  /* position: fixed; */
  width: 100%;
  height: 100%;
  overflow: auto;
}

.second-modal-content {
  padding: 20px;
}
